@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

/* Tailwind default z-50 navbar + toast workaround */
div.__toast-container {
  margin-top: 50px !important;
  /* match navbar height */
}